.offer-create {

  .container.offer {
    header {
      font-size: 1.5em;
      font-weight: 600;
      margin-bottom: 1.5em;
      margin-left: 1.5em;
    }

    fieldset > section {
      margin-bottom: 2.5em;

      label.label-flex {
        display: flex;
        align-items: baseline;

        span {
          font-size: 1.3em;
          text-align: end;
          flex: 0 0 20%;
          margin-right: 1.5em;
        }

        input, select, textarea {
          border-color: #5DC8CD;
          border-width: 1px;
          flex: 0 0 75%;

          &:focus, &:hover {
            border-color: #1E8185;
          }
        }

        textarea {
          resize: none;
        }

        select {
          cursor: pointer;
        }
      }
    }

    .offer-photos, .submit-section {
      display: flex;

      label, .elongation {
        font-size: 1.3em;
        text-align: end;
        flex: 0 0 20%;
        margin-right: 1.5em;
      }

      .button-wrapper {
        flex: 0 0 75%;
      }

      .all-photos {
        flex: 0 0 75%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        max-width: 50em;

        #addPhoto {
          padding: 0;
          text-decoration: none;

          &:before {
            background: url("/img/icons/plus-circle-solid.svg") no-repeat center;
            background-size: 50% 50%;
            display: block;
            content: '';
            width: auto;
            height: 6em;
          }

          span {
            display: none;
          }
        }
      }

      input[type=file] {
        display: none;
      }
    }
  }

  input[type=submit] {
    text-align: center;
    border-radius: var(--basic-border-radius);
    border: 0;
    width: 10em;
    margin: 10px auto;
    background-color: #5DC8CD;
    box-shadow: 0 5px 0 0 #1E8185;
    transition: all 0.2s;

    &:focus, &:hover {
      margin-top: 15px;
      margin-bottom: 5px;
      box-shadow: none;
      transform: translateY(5px);
    }
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #5DC8CD;
    border-radius: var(--basic-border-radius);
    box-shadow: 0 0 0.4em 0.3em rgba(0, 0, 0, 0.1);
    font-size: 14px;
    width: 8em;
    height: 6em;
    padding: 0.25em;
    margin: 0 1.5em 1.5em 0;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }

  .photo-box {
    position: relative;
    cursor: move;

    a {
      display: block;
      position: absolute;
      background-repeat: no-repeat;
      background-color: transparent;
      width: 16px;
      height: 16px;
      cursor: pointer;
      text-decoration: none;
      z-index: 1000;
    }

    a:nth-of-type(1) {
      background-image: url("/img/icons/redo-alt-solid.svg");
      top: 0; left: 0;
    }
    a:nth-of-type(2) {
      background-image: url("/img/icons/times-circle-solid.svg");
      top: 0; right: 0;
    }

    span {
      display: none;
    }
  }
}