:root {
    --basic-padding-input: 0.5em 1em;
    --basic-border-radius: 0.3em;
    
    --theme-1-ink: #20232A;
    --theme-1-aluminium: #ACBEBE;
    --theme-1-paper: #F4F4EF;
    --theme-1-wave: #66A6AD;
    --theme-1-pool-blue: #5CC5EF;
    --theme-1-pool-blue-rgba: rgba(92, 197, 239, 0.7);
    --theme-1-soft-blue: #6475E3;
    //--theme-1-rybi-red: #A01D26;
    //--theme-1-blood-orange: #E7552C;
    
    --basic-color: #FFF;
    --basic-link-color: #00E;
    --footer-bgrd-color: #333;
    
    --basic-color-google: #333;
    --bgrd-color-google: #FFF;
    --basic-color-insgr: #FFF;
    --bgrd-img-insgr: linear-gradient(to left bottom, #cc3399, #f1347d, #ff4e5c, #ff7338, #ff9900);;
    --basic-color-fb: #FFF;
    --bgrd-color-fb: #3B5998;
}