<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body class="page sign-in">

<header class="site-header banner">
    <th:block th:include="~{fragments/site-header}"/>
</header>

<main class="site-content">

    <div class="container auth-cnr">
        <section class="signin" id="login">
            <header>
                <h2>Login to your account</h2>
                <h4 class="mobile-hint-header">
                    <span>If you dont have an account, you can always</span>
                    <a th:href="@{/user/register}">register</a>
                </h4>
            </header>

            <form th:action="@{/user/login}" th:method="POST">
                <fieldset>
                    <section class="input-wrapper">
                        <div class="input-icon">
                            <input type="text" name="username" placeholder="Username"/>
                            <i class="fas fa-user"></i>
                        </div>
                    </section>

                    <section class="input-wrapper">
                        <div class="input-icon">
                            <input type="password" name="password" placeholder="Password"/>
                            <i class="fas fa-key"></i>
                        </div>
                    </section>

                    <section class="error-info" th:if="${error != null}">
                        <small class="danger" th:text="${error}"></small>
                    </section>

                    <section class="signin-buttons">
                        <input class="button" type="submit" value="Login">
                    </section>
                </fieldset>
            </form>
        </section>
    </div>

</main>

<footer class="site-footer">
    <th:block th:include="~{fragments/footer}"/>
</footer>

<a id="scroll-to-top" href="#head-inner">
    <span></span>
</a>

<th:block th:include="~{fragments/scripts}"/>

</body>
</html>