<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
    <script th:src="@{/js/form-generate.js}"></script>
</head>
<body>

<header class="site-header banner">
    <th:block th:include="~{fragments/site-header}"/>
</header>

<main class="site-content">

    <div class="container offer offer-edit">
        <h2>Correct offer</h2>
        <!--/*@thymesVar id="saveModel" type="com.stoyanov.onlineshoestore.app.models.view.offer.shoe.ShoeDetailsViewModel"*/-->
        <form th:action="@{/offer/edit/1/{id}(id = *{id})}" th:method="POST" th:object="${saveModel}" enctype="multipart/form-data">
            <fieldset>
                <input type="hidden" name="id" th:value="*{id}">

                <section class="input-wrapper">
                    <div class="input-icon">
                        <input type="text" name="title" th:field="*{title}" placeholder="Title"/>
                        <i class=""></i>
                    </div>
                    <th:block th:if="${#fields.hasErrors('title')}">
                        <small th:text="${#fields.errors('title').get(0)}"></small>
                    </th:block>
                </section>

                <section>
                    <label>
                        <span>Category:</span>
                        <select id="categoryId" name="categoryId">
                            <option value="none">Choose category</option>
                            <option value="1" selected>Shoes</option>
                            <option value="2">Clothes</option>
                        </select>
                    </label>
                </section>

                <section id="offerData">
                    <section class="">
                        <select id="shoeTypes" name="type" th:field="*{type}">
                            <option value="SPRING_AUTUMN">SPRING_AUTUMN</option>
                            <option value="SUMMER">SUMMER</option>
                            <option value="WINTER">WINTER</option>
                            <option value="SNEAKERS">SNEAKERS</option>
                            <option value="BOOTS">BOOTS</option>
                            <option value="OTHER">OTHER</option></select>
                    </section>

                    <section class="">
                        <select id="shoeSizes" name="sizes" th:field="*{sizes}" multiple="">
                            <option value="THIRTY_FIVE">35</option>
                            <option value="THIRTY_SIX">36</option>
                            <option value="THIRTY_SEVEN">37</option>
                            <option value="THIRTY_EIGHT">38</option>
                            <option value="THIRTY_NINE">39</option>
                            <option value="FOURTY">40</option>
                            <option value="FOURTY_ONE">41</option>
                            <option value="FOURTY_TWO">42</option>
                            <option value="FOURTY_THREE">43</option>
                            <option value="FOURTY_FOUR">44</option>
                            <option value="FOURTY_FIVE">45</option>
                            <option value="FOURTY_SIX">46</option>
                            <option value="FOURTY_SEVEN">47</option>
                            <option value="FOURTY_EIGHT">48</option>
                            <option value="FOURTY_NINE">49</option>
                            <option value="FIFTY">50</option></select>
                    </section>
                </section>

                <section class="input-wrapper">
                    <div class="input-icon">
                        <textarea name="description" th:field="*{description}" placeholder="Description">
                        </textarea>
                        <i class=""></i>
                    </div>
                    <th:block th:if="${#fields.hasErrors('description')}">
                        <small th:text="${#fields.errors('description').get(0)}"></small>
                    </th:block>
                </section>

                <section class="input-wrapper">
                    <div class="input-icon">
                        <input type="number" name="price" step="0.01" th:field="*{price}" placeholder="Price"/>
                        <i class=""></i>
                    </div>
                    <th:block th:if="${#fields.hasErrors('price')}">
                        <small th:text="${#fields.errors('price').get(0)}"></small>
                    </th:block>
                </section>

                <section class="">
                    <select name="condition" th:field="*{condition}">
                        <option value="EXCELLENT">Excellent</option>
                        <option value="GOOD">Good</option>
                        <option value="AVERAGE">Average</option>
                    </select>
                    <th:block th:if="${#fields.hasErrors('condition')}">
                        <small th:text="${#fields.errors('condition').get(0)}"></small>
                    </th:block>
                </section>

                <section class="">
                    <select name="sizes" multiple th:field="*{sizes}">
                        <option value="FOURTY">40</option>
                        <option value="FOURTY_ONE">41</option>
                        <option value="FOURTY_TWO">42</option>
                    </select>
                    <th:block th:if="${#fields.hasErrors('sizes')}">
                        <small th:text="${#fields.errors('sizes').get(0)}"></small>
                    </th:block>
                </section>

                <section class="offer-photos">
                    <div class="" th:each="index : ${#numbers.sequence(1, 5)}">
                        <input type="file" name="photos"/>
                    </div>
                </section>

                <section class="">
                    <!--/*@thymesVar id="photo" type="com.stoyanov.onlineshoestore.app.models.view.photo.PhotoModel"*/-->
                    <div class="" th:each="photo : *{photos}" th:object="${photo}">
                        <div>
                            <img th:src="@{'https://res.cloudinary.com/dxvn93xbh/image/upload/' + ${photo.imageUrl} + '.jpg'}"
                                 alt="offer photo" width="300px" height="300px">
                        </div>
                    </div>
                </section>

                <section class="">
                    <input type="submit" class="button" value="Save changed">
                </section>
            </fieldset>
        </form>
    </div>

</main>

<footer class="site-footer">
    <th:block th:include="~{fragments/footer}"/>
</footer>

<th:block th:include="~{fragments/scripts}"/>

</body>
</html>