%pseudo {
    display: block;
    content: '';
}

%offer-details {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    padding: 0.5em;
    border-radius: 0.3em;
    position: absolute;
    bottom: 5%;
}

%invisible-input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

%authorize-main-btns {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    
    & > input[type="submit"] {
        flex: 8 1 auto;
        background-color: var(--theme-1-soft-blue);
    }
}

%fancy-colorize {
    padding: 0.5em;
    outline: none;
    border-width: 2px;
    border-style: solid;
    border-color: #DDD;
    border-top-color: #999;
    border-left-color: #999;
    border-radius: var(--basic-border-radius);
    background-color: var(--basic-color);
    
    &:focus, &:hover {
        border-color: var(--theme-1-pool-blue-rgba);
        border-top-color: var(--theme-1-soft-blue);
        border-left-color: var(--theme-1-soft-blue);
    }
}