<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>

<header class="site-header banner">
    <th:block th:include="~{fragments/site-header}"/>
</header>

<main class="site-content">
    <div class="container">

        <div>
            <h2 th:if="${session.user != null}" th:text="${session.user.username}"></h2>
        </div>

    </div>
</main>

<footer class="site-footer">
    <th:block th:include="~{fragments/footer}"/>
</footer>

<a id="scroll-to-top" href="#head-inner">
    <span></span>
</a>

<th:block th:include="~{fragments/scripts}"/>

</body>
</html>