<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" th:href="@{/css/site.css}">
</head>
<body>
    <section class="signup" id="register">

        <h2>Publish offer</h2>

        <!--/*@thymesVar id="createModel" type="com.stoyanov.onlineshoestore.app.models.view.offer.OfferCreateViewModel"*/-->
        <form th:action="@{/offer/create}" th:method="POST" th:object="${createModel}" enctype="multipart/form-data">
            <fieldset>
                <section class="input-wrapper">
                    <div class="input-icon">
                        <input type="text" name="title" th:field="*{title}" placeholder="Title"/>
                        <i class=""></i>
                    </div>
                    <th:block th:if="${#fields.hasErrors('title')}">
                        <small th:text="${#fields.errors('title').get(0)}"></small>
                    </th:block>
                </section>

                <section class="">
                    <select name="type" th:field="*{type}">
                        <option value="SNEAKERS">Sneakers</option>
                        <option value="BOOTS">Boots</option>
                    </select>
                    <th:block th:if="${#fields.hasErrors('type')}">
                        <small th:text="${#fields.errors('type').get(0)}"></small>
                    </th:block>
                </section>

                <section class="input-wrapper">
                    <div class="input-icon">
                        <textarea name="description" th:field="*{description}" placeholder="Description">
                        </textarea>
                        <i class=""></i>
                    </div>
                    <th:block th:if="${#fields.hasErrors('description')}">
                        <small th:text="${#fields.errors('description').get(0)}"></small>
                    </th:block>
                </section>

                <section class="input-wrapper">
                    <div class="input-icon">
                        <input type="number" name="price" step="0.01" th:field="*{price}" placeholder="Price"/>
                        <i class=""></i>
                    </div>
                    <th:block th:if="${#fields.hasErrors('price')}">
                        <small th:text="${#fields.errors('price').get(0)}"></small>
                    </th:block>
                </section>

                <section class="">
                    <select name="condition" th:field="*{condition}">
                        <option value="EXCELLENT">Excellent</option>
                        <option value="GOOD">Good</option>
                        <option value="AVERAGE">Average</option>
                    </select>
                    <th:block th:if="${#fields.hasErrors('condition')}">
                        <small th:text="${#fields.errors('condition').get(0)}"></small>
                    </th:block>
                </section>

                <section class="">
                    <select name="sizes" multiple th:field="*{sizes}">
                        <option value="FOURTY">40</option>
                        <option value="FOURTY_ONE">41</option>
                        <option value="FOURTY_TWO">42</option>
                    </select>
                    <th:block th:if="${#fields.hasErrors('sizes')}">
                        <small th:text="${#fields.errors('sizes').get(0)}"></small>
                    </th:block>
                </section>

                <section class="">
                    <div class="" th:each="index : ${#numbers.sequence(1, 5)}">
                        <input type="file" name="photos" />
                    </div>
                </section>

                <section class="">
                    <input type="submit" class="button" value="Create">
                </section>
            </fieldset>
        </form>
    </section>
</body>
</html>