<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
    <script th:src="@{/js/offer-form.js}"></script>
    <script th:src="@{/js/form-generate.js}"></script>
</head>
<body>

<header class="site-header banner">
    <th:block th:include="~{fragments/site-header}"/>
</header>

<main class="site-content">

    <div class="container offer offer-create">
        <h2>Publish offer</h2>
        <!--/*@thymesVar id="saveModel" type="com.stoyanov.onlineshoestore.app.models.view.offer.shoe.ShoeSaveViewModel"*/-->
        <form id="offerForm" th:action="@{/offer/create}" th:method="POST" th:object="${saveModel}" enctype="multipart/form-data">
            <fieldset>
                <section class="input-wrapper">
                    <div class="input-icon">
                        <input type="text" name="title" placeholder="Title"/>
                        <i class=""></i>
                    </div>
                    <!--<th:block th:if="${#fields.hasErrors('title')}">
                        <small th:text="${#fields.errors('title').get(0)}"></small>
                    </th:block>-->
                </section>

                <section>
                    <label>
                        <span>Category:</span>
                        <select id="categoryId" name="category_id">
                            <option value="none" selected>Choose category</option>
                            <option value="1">Shoes</option>
                            <option value="2">Clothes</option>
                        </select>
                    </label>
                </section>

                <section id="offerData">
                    <!--<section class="">
                        <select id="shoeTypes" name="type">
                        </select>
                        <th:block th:if="${#fields.hasErrors('type')}">
                            <small th:text="${#fields.errors('type').get(0)}"></small>
                        </th:block>
                    </section>

                    <section class="">
                        <select id="shoeSizes" name="sizes" multiple>
                        </select>
                        <th:block th:if="${#fields.hasErrors('sizes')}">
                            <small th:text="${#fields.errors('sizes').get(0)}"></small>
                        </th:block>
                    </section>-->
                </section>

                <section class="input-wrapper">
                    <div class="input-icon">
                        <textarea name="description" placeholder="Description">
                        </textarea>
                        <i class=""></i>
                    </div>
                </section>

                <section class="input-wrapper">
                    <div class="input-icon">
                        <input type="number" name="price" step="0.01" placeholder="Price"/>
                        <i class=""></i>
                    </div>
                </section>

                <section class="">
                    <select name="condition">
                        <option value="EXCELLENT">Excellent</option>
                        <option value="GOOD">Good</option>
                        <option value="AVERAGE">Average</option>
                    </select>
                </section>

                <section class="offer-photos">
                    <div class="" th:each="index : ${#numbers.sequence(1, 5)}">
                        <input type="file" name="photos"/>
                    </div>
                </section>

                <section class="">
                    <input type="submit" class="button" value="Create">
                </section>
            </fieldset>
        </form>
    </div>

</main>

<footer class="site-footer">
    <th:block th:include="~{fragments/footer}"/>
</footer>

<th:block th:include="~{fragments/scripts}"/>

</body>
</html>