<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>

<header class="site-header banner">
    <th:block th:include="~{fragments/site-header}"/>
</header>

<main class="site-content">

    <div class="container offer-details">
        <!--/*@thymesVar id="offer" type="com.stoyanov.onlineshoestore.app.models.services.offer.OfferServiceModel"*/-->
        <div th:object="${offer}">
            <section>
                <h4>Title:</h4>
                <h4 th:text="*{title}"></h4>
            </section>

            <section>
                <h4>Description:</h4>
                <h4 th:text="*{description}"></h4>
            </section>

            <section>
                <h4>Price:</h4>
                <h4 th:text="*{price}"></h4>
            </section>

            <section>
                <h4>Condition:</h4>
                <h4 th:text="*{condition}"></h4>
            </section>

            <section class="">
                <!--/*@thymesVar id="photo" type="com.stoyanov.onlineshoestore.app.models.services.offer.PhotoServiceModel"*/-->
                <div class="" th:each="photo : *{photos}">
                    <div>
                        <img th:src="@{'https://p-sf1.pcloud.com/' + ${photo.url}}"
                             alt="offer photo" width="300px" height="300px"
                             th:style="'transform: rotate(' + ${photo.degree} + 'deg);'">
                    </div>
                </div>
            </section>

            <section sec:authorize="hasAnyAuthority('MODERATOR', 'ROOT')">
                <a th:href="@{/offer/edit/{id}(id = ${id})}">Edit Offer</a>
                <!--/*@thymesVar id="id" type="java.lang.String"*/-->
                <form th:action="@{/offer/delete/{id}(id = ${id})}" th:method="POST">
                    <button class="button danger" type="submit">Delete</button>
                </form>
            </section>
        </div>
    </div>

</main>

<footer class="site-footer">
    <th:block th:include="~{fragments/footer}"/>
</footer>

<th:block th:include="~{fragments/scripts}"/>

</body>
</html>