<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"/>
    <link rel="stylesheet" th:href="@{/css/offer-detail.css}">
</head>
<body class="page offer-info">

<header class="site-header banner">
    <th:block th:include="~{fragments/site-header}"/>
</header>

<main class="site-content">

    <div class="container offer-info">
        <!--/*@thymesVar id="offer" type="com.stoyanov.onlineshoestore.app.models.services.offer.OfferServiceModel"*/-->
        <section class="offer-details" th:object="${offer}">
            <div class="header">
                <div class="title">
                    <h2 th:text="*{title}"></h2>
                </div>
                <div class="buttons" sec:authorize="hasAnyAuthority('MODERATOR', 'ROOT')">
                    <a th:href="@{/offer/edit/{id}(id = ${id})}">Edit Offer</a>
                    <!--/*@thymesVar id="id" type="java.lang.String"*/-->
                    <form th:action="@{/offer/delete/{id}(id = ${id})}" th:method="POST">
                        <button class="button danger" type="submit">Delete</button>
                    </form>
                </div>
            </div>

            <div class="main">
                <div class="photos">
                    <div class="all-photos-wrapper">
                        <div class="all-photos">
                            <!--/*@thymesVar id="photo" type="com.stoyanov.onlineshoestore.app.models.services.offer.PhotoServiceModel"*/-->
                            <div class="photo small-photo" th:id="'smallPhoto' + ${photo.position}" th:each="photo : *{photos}">
                                <img th:src="@{${photo.url}}" alt="offer photo"
                                     th:style="'transform: rotate(' + ${photo.degree} + 'deg);'">
                                <div class="svg-chevron"></div>
                            </div>
                        </div>
                    </div>
                    <div class="photo-wrap">
                        <!--/*@thymesVar id="photo" type="com.stoyanov.onlineshoestore.app.models.services.offer.PhotoServiceModel"*/-->
                        <div class="photo large-photo" th:id="'photo' + ${photo.position}" th:each="photo : *{photos}">
                            <img th:src="@{${photo.url}}"
                                 alt="offer photo" width="630px" height="420px"
                                 th:style="'transform: rotate(' + ${photo.degree} + 'deg);'">
                        </div>
                    </div>
                </div>

                <div class="details">
                    <div>
                        <h4>Description:</h4>
                        <h4 th:text="*{description}"></h4>
                    </div>

                    <div>
                        <h4>Price:</h4>
                        <h4 th:text="*{price}"></h4>
                    </div>

                    <div>
                        <h4>Condition:</h4>
                        <h4 th:text="*{condition}"></h4>
                    </div>
                </div>
            </div>
        </section>

        <section class="more-offers">

        </section>

        <section class="last-seen">

        </section>
    </div>

</main>

<footer class="site-footer">
    <th:block th:include="~{fragments/footer}"/>
</footer>

<a id="scroll-to-top" href="#head-inner">
    <span></span>
</a>

<th:block th:include="~{fragments/scripts}"/>

<script type="text/javascript" src="/js/offers/offer-details.js"></script>

</body>
</html>